@import "tailwindcss";

@layer base {
  :root {
    --font-inter: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }
  
  body {
    font-family: var(--font-inter);
  }
}
